.product-video-box {
  background: url(../images/banners/video-banner.webp);
  min-height: 450px;
  /* max-width: 600px; */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.product-content-4 {
  height: 100%;
  padding: 50px;
  max-width: 600px;

}

.font-36{
    font-size: 36px;
}
.pt-150{
    padding-top: 150px;
}
.pt-100{
    padding-top: 100px;
}
.bg-lightgray{ 
     background-color: rgba(221, 218, 218, 0.777);
}
.mbl-100{
    margin-top: 100px;
    margin-bottom: 100px;
}
.pb-50{
    padding-bottom: 50px;
}
.mb-30{
    margin-block: 30px;
}


/* ================================================================================= */
.product_top_left_right h1:nth-child(1){
    font-size: 36px;
    margin-bottom: 20px;
}
.product_left_right_configure{
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.product_left_right_configure >div >span{
    margin-inline: 5px;
}
.product_left_right_wattage{
    margin-bottom: 15px;
}

.product_left_right_temperture{
    margin-bottom: 10px;
}
.product_left_right_temperture h2{
    font-size: 20px;
}
.product_left_right_temperture > div{
    display: flex;
  margin: 5px;
  gap: 50px;
}
.product_left_right_temperture div>span{
    background-color: yellow;
    color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
}
.product-center-beam{
    margin-bottom: 10px;
}
.product_left_right_beam h2{
    font-size: 25px;
}
.product_left_right_beam img{
    height: 35px;
    width: 35px;
    margin: 5px;
}

.product_left_right_last {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.product_left_right_last  div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.product_left_right_last  div:nth-child(2){
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.product_left_right_last  div:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product_left_right_last  div>button:nth-child(1){
    background-color: black;
    color: white;
    padding: 5px ;
    border-radius: 20px;
}
.product_left_right_last div>button:nth-child(2){
    padding: 5px ;
    border-radius: 20px;
    border: 2px solid black;
}






/* ================================================================================= */

.product-right span:nth-child(1){
    margin-bottom: 20px;
    padding-inline: 10px;
    padding-top: 10px;
}
.product-right-top{
    /* line-height: 1.3; */
    margin-bottom: 100px;
    padding-inline: 10px;
}
.product-right-top h1{
    font-size: 36px;
    margin-bottom: 15px;
}
.product-right-top p{
    color: rgb(64, 60, 60);
    font-weight: 400;
}
.product-right-top span{
    font-weight: 400;
    text-decoration: underline;
}
.product-right-bottom{
    /* line-height: 0.8; */
    margin-bottom: 20px;
    padding-inline: 10px;
}
.product-right-bottom p{
    margin-bottom: 15px;
}
.product-right-application{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    gap: 30px;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;
}
.product-right-info{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;  
}
.product-right-download{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;
    
}
.product-right-request{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;
    
}
.product-right-most{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;
}
.product-right-btn > button{
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px ;
    border-radius: 20px;
    margin-block: 20px;
}



/* ==================================================================================== */

.lastBox-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

 
}

.label {
  font-size: 12px;
  padding-left: 20px;
  /* color: #777; */
  font-weight: bold;
  margin-bottom: 10px;
}

/* SUBSCRIBE */
.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding-inline: 20px
  /* max-width: 350px; */
}

.subscribe input {
    background-color: transparent;
  border: none;
  outline: none;
  padding: 8px 0;
  flex: 1;
  font-size: 14px;
}

.subscribe button {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

/* SITE LINKS */
.lastBox-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.lastBox-right-p{
    margin-right: 20px;
}
.lastBox-right ul {
  list-style: none;
}

.lastBox-right li {
  margin-bottom: 6px;
}

.lastBox-right a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}


@media (max-width: 486px) {
    .product-lastBox{
        height: 265px;
        max-width: 413px;
        padding: 10px;
    }
    .product-lastBox-left {
        gap: 0; 
    }
    .subscribe > button{
        display: none;
    }
}



































@media (max-width: 1080px) {
    .product-right span:nth-child(1){
        margin-bottom: 10px;
    }
    .product-right-top{
        margin-bottom: 5px;
    }
    .product-right-top h1{
        margin-bottom: 10px;
        font-size: 24px;
    }
    .product-right-bottom{
        margin-bottom: 10px;
    }
    .product-right-bottom p{
        margin-bottom: 5px;
        font-size: 12px;
    }
    .product-right-application{
      gap: 15px;  
    }
    .product-right-button{
        margin-bottom: 10px;
    }
}