.template-2{
     width: 100%;
    height: 100vh;
    color: rgb(107, 107, 107);
}
.template-container{
    width: 1200px;
    margin: 0 auto;
    padding: 100px 10px;
}

/*  <!-- ===================== Template Top Container ====================== --> */
.template-top-container{
    width: 100%;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-inline: 20px;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/*  <!-- ===================== Template Top Left ====================== --> */
.temp-top-left{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.temp-top-imgbox-1 img{
    width: 100%;
    padding: 10px ;
}
.temp-top-imgbox-2{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px ;
}

/*  <!-- ===================== Template Top Right ====================== --> */
.temp-top-right{
     background-color: rgba(221, 218, 218, 0.777);
    padding: 20px 10px;
    
}
.temp-top-right span:nth-child(1){
    text-decoration: underline;
    margin-bottom: 20px;
    padding-inline: 10px;
    padding-top: 10px;
}
.temp-top-p{
    margin-bottom: 20px;
    padding-inline: 10px;
}
.temp-top-p h1{
    font-size: 36px;
    margin-bottom: 15px;
}
.temp-top-p p{
    color: rgb(64, 60, 60);
    font-weight: 400;
}
.temp-top-p span{
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 10px;
}
.temp-right-bottom{
    /* line-height: 0.8; */
    margin-bottom: 20px;
    padding-inline: 10px;
    font-size: 20px;
}
.temp-right-bottom p{
    margin-bottom: 15px;
}
.temp-right-application{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    gap: 30px;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;
    /* flex: 1 1 auto; */
}
.temp-right-info{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;
    
}
.temp-right-download{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;
    
}
.temp-right-request{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;
    
}
.temp-right-most{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(111, 108, 108);
    margin-bottom: 5px;
}
.temp-right-button{
    margin-bottom: 20px;
    padding: 5px 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.temp-right-button{
    width: 100%;
}